html {
  font-family: Helvetica, sans-serif;
}
body {
  max-width: 90%;
  padding: 5%;
}

ul {
  list-style: none;
}

header > h1,
nav,
nav > ul > li {
  display: inline-block;
}

nav,
li > a {
  color: green;
  text-decoration: none;
  padding: 20px;
}
