html {
  font-family: Helvetica, sans-serif;
  color: rgb(51, 51, 51);
}

body {
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);

}
article {
 
  width: 50%;
  margin: 0% 25% 0% 25%;
}

img {
  width: 56%;
  height: auto;
}
