body {
  background: #eeeeee;
  margin: 0;
  padding: 0;
}

body,
ul,
li {
  display: flex;
}

ul {
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 65px 90px;
}

li {
  background: white;
  border: 2px solid black;
  padding: 15px;
  margin: 8px;
  box-sizing: 0 0 4px black;
  flex-direction: column;
}

li img {
  object-fit: contain;
}
